* {
  box-sizing: border-box;
}

@font-face {
  font-family: Lato-Bold;
  src: url('./assets/fonts/lato/Lato-Bold.woff2')
}

body {
  height: 100%;
}

.header {
  height: 566px;
  padding-top: 28px;

  background: linear-gradient(45deg,rgba(0, 0, 0, 0) 48%,rgba(0, 0, 0, 0.2) 50%,rgba(0, 0, 0, 0) 52%),linear-gradient(-45deg,rgba(0, 0, 0, 0) 48%,rgba(0, 0, 0, 0.2) 50%,rgba(0, 0, 0, 0) 52%), url('assets/header/bgHeader.jpeg') center;
  background-repeat: repeat, repeat, no-repeat;
  background-size: 1em 1em, 1em 1em, cover;
}

.wrapper {
  width: 100%;
  max-width: 1020px;
  margin:  0 auto;
}

.header .wrapper {
  display: flex;
  justify-content: space-between;
}

.logo h1 {
  display: inline-block;
  margin: 0px;
  vertical-align: 50%;
  text-transform: uppercase;
  color: white;
  font-family: LucidaSans-Italic, AdobeInvisFont, MyriadPro-Regular;
  font-size: 42px;
}

.logo img {
  padding-right: 9px;
}

nav {
  display: flex;
  width: 453px;
  height: 41px;
  margin-top: 45px;
}

.header_navlist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 55px;
  padding-right: 10px;
  margin: 0px;

  background-color: #f5c506;
  box-shadow: -4px -5px 1px 3px #a48d19, -8px -8px 1px 3px #806f24;
}

.header_navlist li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
  list-style-type: none;
  border-right: rgba(155, 125, 8, 255) 1px solid;
}

.header_navlist li:last-child {
  border-right: none;
}

.header_navlist a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: SegoeWP, AdobeInvisFont, MyriadPro-Regular;
  font-size: 17.04912px;
  color: rgba(155, 125, 8, 255);
}

.header_navlist a:hover {
  color: white;
  cursor: pointer;
}

.header_navlist a::before {
  content: '12';
  margin-right: 10px;
}

.main {
min-height: calc(100vh-84px);
}

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 53px;
}

.slider__slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: Asap-Regular, AdobeInvisFont, MyriadPro-Regular;
  font-size: 63px;
  color: rgba(245, 197, 6, 255);
  text-align: center;
  text-transform: uppercase;
}

.slider__slogan p:last-child {
  color: whitesmoke;
}

.slider__slogan p {
  margin: -15px 13px 18px 0px;
}

button.slider {
  margin-bottom: 15px;
}

.slider__button-prev,
.slider__button-next {
  width: 32px;
  height: 57px;

  background: #cba60e;
  color: whitesmoke;
  border: none;

  font-size: 38px;
  font-weight: bold;
}

.slider__button-prev:hover,
.slider__button-next:hover {
  background: #f7c80d;
  cursor: pointer;
}

.slider__video {
  padding-left: 8px;
}

.benefit {
  background: linear-gradient(45deg,rgba(117, 116, 116, 0) 48%,rgba(218, 213, 213, 0.4) 50%,rgba(117, 116, 116, 0) 52%);
  background-repeat: repeat;
  background-size: 0.5em 0.5em;
  box-shadow: 0px 3px 4px 7px rgba(71, 71, 70, 0.74);
}

.benefit .wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row: 1 fr;

  width: 100%;
  height: 100%;
  padding-left: 0px;
}

.benefit .wrapper * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 40px;
  padding-bottom: 33px;

  font-family: SegoeUI-Light, AdobeInvisFont, MyriadPro-Regular;
  font-size: 27px;
  color: rgba(0, 0, 0, 255);

  text-transform: uppercase;
  border-right: #d4d4d4 1px solid;

  list-style-type: none;
}

.benefit .wrapper:first-child {
  border-left: #d4d4d4 1px solid;
}

.benefit__li_first:before {
  content:'';
  width: 109px;
  height: 74px;
  margin-bottom: 12px;
  margin-top: 20px;

  background: url(assets/main/benefit/cloud.png);
}

.benefit__li_second:before {
  content:'';
  width: 91px;
  height: 95px;
  margin-bottom: 15px;
  margin-left: 15px;

  background: url(assets/main/benefit/list.png);
}

.benefit__li_third:before {
  content:'';
  width: 81px;
  height: 80px;
  margin-top: 10px;
  margin-bottom: 18px;
  margin-right: 20px;

  background: url(assets/main/benefit/paperplane.png);
}

.scroll {
  padding-bottom: 20px;
  color: rgba(255, 255, 255, 255);
  text-align: left;

  background: url('./assets/main/scroll/bgscroll.jpeg') repeat;

  box-shadow: inset 0px 9px 16px -4px rgba(71, 71, 70, 0.74) ;
}

.scroll h2 {
  margin: 0px;
  padding-top: 35px;
  padding-bottom: 30px;

  font-family: PTSans-Regular, AdobeInvisFont, MyriadPro-Regular;
  font-size: 37px;
  text-transform: uppercase;
}

.scroll__description {
  width: 341px;

  font-family: SegoeWP-Light, AdobeInvisFont, MyriadPro-Regular;
  font-size: 29px;

  background: #ec9e03;
}

.scroll__description p {
  margin: 0px;
  padding: 31px 25px 0px 34px;
}

.scroll button {
  position: relative;
  left: 90%;

  background: #ec9e03;
  border: 0px;
  color: white;
}

.scroll__main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  width: 100%;
  overflow-x: scroll;
}

.scroll__video {
  display: flex;
}

.scroll__twiter {
  font-size: 25px;

  background: #ec9e03;
}

.scroll__twiter-image {
  display: block;
  width: 163px;
  height: 133px;
  margin: 35px 83px 5px 83px;
}

.scroll__twiter-count {
  position: relative;
  left: 86%;
  top: 0.5em;
  margin: 0px;

  font-family: SegoeWP-Light, AdobeInvisFont, MyriadPro-Regular;
  font-size: 25px;
}

.scroll__calendar {
  align-self: flex-start;
  margin-right: 100%;
  margin-bottom: 43px;

  background: #ddb101;

  font-size: 51px;
  color: rgba(255, 255, 255, 255);
}

.scroll__calendar-day {
  margin: 5px 27px 0px 31px;
}

.scroll__calendar-month {
  margin: 0px;

  font-size: 21px;
  color: rgba(178, 101, 41, 255);
  text-align: center;
}

.scroll___button_plus:hover {
  color: orangered;
}

.scroll__main::-webkit-scrollbar {
  width: 10px;
}

.scroll__main::-webkit-scrollbar-track {
  background: whitesmoke;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.scroll__main::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #ec9e03;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.services {
  background: url('assets/main/services/bgservices.jpeg') repeat;
}

.services__caption {
  padding-top: 40px;
  padding-bottom: 50px;
  padding-left: 90px;
  margin: 0px;

  font-family: PTSans-Regular, AdobeInvisFont, MyriadPro-Regular;
  font-size: 43px;
  color: rgba(245, 197, 6, 255);
  text-align: center;
  text-transform: uppercase;
}

.services__image {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-left: 15px;
  position: relative;
  bottom: 115px;
}

.services__image_stamp {
  position: relative;
  right: 5px;
  bottom: 40px;
  width: 116px;
  height: 116px;
  z-index: 2;

  background: #f5c506;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.services__image_stamp p {
  margin: 0px 0px 0px 5px;
  padding-top: 40%;

  font-family: PTSans-NarrowBold, AdobeInvisFont, MyriadPro-Regular;
  font-size: 17px;
  color: rgba(255, 255, 255, 255);
}

.services__image_device {
  width: 540px;
  height: 255px;
}

.services__list {
  margin-top: 45px;
  padding-left: 80px;;

  font-family: OpenSans, AdobeInvisFont, MyriadPro-Regular;
  font-size: 22px;
  color: rgba(169, 169, 167, 255);
  text-align: left;
  list-style-type: none;
  list-style-image: url('assets/main/services/listmarker.png');
  line-height: 1.2;
}

.services__list li {
  margin-bottom: 25px;
  margin-left: 25px;
  padding-left: 10px;
}

.footer {
  height: 64px;

  background: #4c4c4c;
  box-shadow: 0px 3px 4px 7px rgba(22, 22, 22, 0.74);
}

.footer__logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 51px;
}

.footer__logo img {
  height: 51px;
  margin-right: 9px;
  margin-left: 2px;
  margin-top: 5px;
}

.footer__logo h1 {
  margin-bottom: 5px;
  color: white;
  text-transform: uppercase;
}
