* {
  box-sizing: border-box;
}

@font-face {
  font-family: Lato-Bold;
  src: url('./assets/fonts/lato/Lato-Bold.woff2')
}

body {
  background: linear-gradient(45deg,rgba(117, 116, 116, 0) 48%,rgba(218, 213, 213, 0.4) 50%,rgba(117, 116, 116, 0) 52%);
  background-repeat: repeat;
  background-size: 0.5em 0.5em;
}

header {
  height: 566px;
  padding-top: 28px;

  background: linear-gradient(45deg,rgba(0, 0, 0, 0) 48%,rgba(0, 0, 0, 0.2) 50%,rgba(0, 0, 0, 0) 52%),linear-gradient(-45deg,rgba(0, 0, 0, 0) 48%,rgba(0, 0, 0, 0.2) 50%,rgba(0, 0, 0, 0) 52%), url('assets/header/bgHeader.jpeg') center;
  background-repeat: repeat, repeat, no-repeat;
  background-size: 1em 1em, 1em 1em, cover;
}

.wrapper {
  width: 100%;
  max-width: 1020px;
  margin:  0 auto;


}

header .wrapper {
  display: flex;
  justify-content: space-between;
}

.logo h1 {
  display: inline-block;
  margin: 0px;
  vertical-align: 50%;
  text-transform: uppercase;
  color: white;
  font-family: LucidaSans-Italic, AdobeInvisFont, MyriadPro-Regular;
  font-size: 42px;
}

.logo img {
  padding-right: 9px;
}

nav {
  display: flex;
  width: 453px;
  height: 41px;
  margin-top: 45px;
}

.header_navlist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 55px;
  padding-right: 10px;
  margin: 0px;

  background-color: #f5c506;
  box-shadow: -4px -5px 1px 3px #a48d19, -8px -8px 1px 3px #806f24;
}

.header_navlist li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
  list-style-type: none;
  border-right: rgba(155, 125, 8, 255) 1px solid;
}

.header_navlist li:last-child {
  border-right: none;
}

.header_navlist a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: SegoeWP, AdobeInvisFont, MyriadPro-Regular;
  font-size: 17.04912px;
  color: rgba(155, 125, 8, 255);
}

.header_navlist a:hover {
  color: white;
  cursor: pointer;
}

.header_navlist a::before {
  content: '12';
  margin-right: 10px;
}

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 53px;
}

.slider__slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: Asap-Regular, AdobeInvisFont, MyriadPro-Regular;
  font-size: 63px;
  color: rgba(245, 197, 6, 255);
  text-align: center;
  text-transform: uppercase;
}

.slider__slogan p:last-child {
  color: whitesmoke;
}

.slider__slogan p {
  margin: -15px 13px 18px 0px;
}

button.slider {
  margin-bottom: 15px;
}

.slider__button-prev,
.slider__button-next {
  width: 32px;
  height: 57px;

  background: #cba60e;
  color: whitesmoke;
  border: none;

  font-size: 38px;
  font-weight: bold;
}

.slider__button-prev:hover,
.slider__button-next:hover {
  background: #f7c80d;
  cursor: pointer;
}

.slider__video {
  padding-left: 8px;
}

.benefit {
  height: 212px;

  box-shadow: 0px -3px 4px 0px rgba(71, 71, 70, 0.74);
}

.benefit .wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row: 1 fr;

  width: 100%;
  height: 100%;
}

.benefit .wrapper * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: SegoeUI-Light, AdobeInvisFont, MyriadPro-Regular;
  font-size: 27px;
  color: rgba(0, 0, 0, 255);

  text-transform: uppercase;
  border-right: #d4d4d4 1px solid;

  list-style-type: none;
}

.benefit .wrapper:first-child {
  border-left: #d4d4d4 1px solid;
}

.benefit__li_first:before {
  content:'';
  width: 109px;
  height: 74px;
  margin-bottom: 17px;

  background: url(assets/main/benefit/cloud.png);
}

.benefit__li_second:before {
  content:'';
  width: 91px;
  height: 95px;
  margin-bottom: 22px;

  background: url(assets/main/benefit/list.png);
}

.benefit__li_third:before {
  content:'';
  width: 81px;
  height: 80px;
  margin-bottom: 17px;

  background: url(assets/main/benefit/paperplane.png);
}
