* {
  box-sizing: border-box;
  font-family: sans-serif;
}

@font-face {
  font-family: Fontello;
  src: url('./assets/fonts/icons/font/fontello.woff2');
}

@font-face {
  font-family: SegoeWP-Light;
  src: url('./assets/fonts/SegoeWP.woff2');
  font-weight: 200;
}

@font-face {
  font-family: SegoeWP;
  src: url('./assets/fonts/SegoeWP.woff2');
  font-weight: 400;
}

@font-face {
  font-family: Asap-Regular;
  src: url('./assets/fonts/Asap-Regular.woff2');
  font-weight: 400;
}

@font-face {
  font-family: PTSans-Regular;
  src: url('./assets/fonts/PTS55F.woff2');
  font-weight: 400;
}

@font-face {
  font-family: OpenSans;
  src: url('./assets/fonts/OpenSans-Regular.woff2');
  font-weight: 400;
}

@font-face {
  font-family: PTSans-NarrowBold;
  src: url('./assets/fonts/PTN77F.woff2');
  font-weight: 700;
}


body {
  height: 100%;
}

.header {
  padding-top: 28px;
  padding-bottom: 68px;

  background: linear-gradient(45deg,rgba(0, 0, 0, 0) 48%,rgba(0, 0, 0, 0.2) 50%,rgba(0, 0, 0, 0) 52%),linear-gradient(-45deg,rgba(0, 0, 0, 0) 48%,rgba(0, 0, 0, 0.2) 50%,rgba(0, 0, 0, 0) 52%), url('assets/header/bgHeader.jpeg') center;
  background-repeat: repeat, repeat, no-repeat;
  background-size: 1em 1em, 1em 1em, cover;
}

.wrapper {
  width: 100%;
  max-width: 1020px;
  margin:  0 auto;
}

.header .wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.logo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.logo__title {
  display: inline-block;
  margin: 22px 0px 0px;

  text-transform: uppercase;
  color: white;
  font-family: LucidaSans-Italic, AdobeInvisFont, MyriadPro-Regular;
  font-size: 44px;
  font-style: italic;
  font-weight: normal;
}

.logo__img {
  padding-right: 9px;
}

.nav {
  display: flex;
  width: 453px;
  height: 41px;
  margin-top: 45px;
}

.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  margin: 0px;
  padding: 10px;

  background-color: #f5c506;
  box-shadow: -4px -5px 1px 3px #a48d19, -8px -8px 1px 3px #806f24;
}

.list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
  list-style-type: none;
  border-right: rgba(155, 125, 8, 255) 1px solid;
}

.list__item:last-child {
  border-right: none;
}

.list__item * {
  text-decoration: none;
  text-transform: uppercase;
  font-family: SegoeWP, AdobeInvisFont, MyriadPro-Regular;
  font-size: 17px;
  color: rgba(155, 125, 8, 255);
}

.list__item *:hover {
  color: white;
  cursor: pointer;
}

.list__link_first::before {
  font-family: Fontello;
  content: '\E800';
  margin-right: 10px;

  font-size: 22px;
}

.list__link_second::before {
  font-family: Fontello;
  content: '\E801';
  margin-right: 10px;

  font-size: 22px;
}

.list__link_third::before {
  font-family: Fontello;
  content: '\F0E0';
  margin-right: 10px;

  font-size: 22px;
}

.main {
  min-height: calc(100vh-544px-84px);
}

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 53px;
}

.slider__slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: Asap-Regular, AdobeInvisFont, MyriadPro-Regular;
  font-size: 63px;
  color: rgba(245, 197, 6, 255);
  text-align: center;
  text-transform: uppercase;
}

.slogan__text {
  margin: -15px 13px 18px 0px;
}

.slogan__text:last-child {
  color: whitesmoke;
}

.slider__button-prev,
.slider__button-next {
  width: 32px;
  height: 57px;
  margin-bottom: 15px;

  background: #cba60e;
  color: whitesmoke;
  border: none;

  font-size: 38px;
  font-weight: bold;
}

.slider__button-prev:hover,
.slider__button-next:hover {
  background: #f7c80d;

  cursor: pointer;
}

.slider__container-video {
  padding-left: 8px;
}

.container-video {
  width: 100%;
  height: 100%;
}

.benefit {
  background: linear-gradient(45deg,rgba(117, 116, 116, 0) 48%,rgba(218, 213, 213, 0.4) 50%,rgba(117, 116, 116, 0) 52%);
  background-repeat: repeat;
  background-size: 0.5em 0.5em;
  box-shadow: 0px 3px 4px 7px rgba(71, 71, 70, 0.74);
}

.benefit .wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row: 1 fr;

  width: 100%;
  height: 100%;
  padding-left: 0px;
}

.benefit .wrapper * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 35px;
  padding-bottom: 18px;

  font-family: SegoeUI-Light, AdobeInvisFont, MyriadPro-Regular;
  font-size: 27px;
  color: rgba(0, 0, 0, 255);

  text-transform: uppercase;
  border-right: #d4d4d4 1px solid;

  list-style-type: none;
}

.benefit .wrapper:first-child {
  border-left: #d4d4d4 1px solid;
}
.benefit__li_first {
  padding-left: 45px;
  margin-bottom: 2px;
}

.benefit__li_first:before {
  font-family: Fontello;
  content:'\F0ED';
  color: #f7c80d;
  font-size: 96px;
  transform: rotateY(180deg);

  padding-left: 46px;
}

.benefit__li_second:before {
  content:'';
  width: 91px;
  height: 95px;
  margin-bottom: 15px;
  margin-left: 15px;

  background: url(assets/main/benefit/list.png);
}

.benefit__li_third:before {
  font-family: Fontello;
  content:'\E802';
  color: #f7c80d;
  font-size: 109px;
  font-weight: bold;
  margin-right: 20px;
  transform: rotateY(180deg);
}

.scroll {
  padding-bottom: 20px;
  color: rgba(255, 255, 255, 255);
  text-align: left;

  background: url('./assets/main/scroll/bgscroll.jpeg') repeat;

  box-shadow: inset 0px 9px 16px -4px rgba(71, 71, 70, 0.74) ;
}

.scroll__title {
  margin: 0px;
  padding-top: 35px;
  padding-bottom: 30px;

  font-family: PTSans-Regular, AdobeInvisFont, MyriadPro-Regular;
  font-size: 37px;
  text-transform: uppercase;
}

.scroll__description {
  width: 341px;

  font-family: SegoeWP-Light, AdobeInvisFont, MyriadPro-Regular;
  font-size: 29px;

  background: #ec9e03;
}

.description__text {
  margin: 0px;
  padding: 31px 25px 0px 34px;
}

.scroll___button_plus {
  position: relative;
  left: 90%;

  background: #ec9e03;
  border: 0px;
  color: white;
}

.scroll__main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  width: 100%;
  overflow-x: scroll;
}

.scroll__video {
  display: flex;
}

.scroll__twitter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 25px;

  background: #ec9e03;
}

.twitter__image {
  display: block;
  width: 163px;
  height: 133px;
  margin: 35px 83px 5px 83px;
}

.twitter__count {
  position: relative;
  left: 86%;
  top: 0.5em;
  margin: 0px;

  font-family: SegoeWP-Light, AdobeInvisFont, MyriadPro-Regular;
  font-size: 25px;
}

.twitter__chat {
  display: none;
}

.scroll__calendar {
  align-self: flex-start;
  margin-right: 100%;
  margin-bottom: 43px;

  background: #ddb101;

  font-size: 51px;
  color: rgba(255, 255, 255, 255);
}

.calendar__day {
  margin: 5px 27px 0px 31px;
}

.calendar__month {
  margin: 0px;

  font-size: 21px;
  color: rgba(178, 101, 41, 255);
  text-align: center;
}

.scroll___button_plus:hover {
  color: orangered;
}

.scroll__main::-webkit-scrollbar {
  width: 10px;
}

.scroll__main::-webkit-scrollbar-track {
  background: whitesmoke;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.scroll__main::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #ec9e03;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.services {
  background: url('assets/main/services/bgservices.jpeg') repeat;
}

.services .wrapper {
  min-height: 496px
}

.services__caption {
  padding-top: 40px;
  padding-bottom: 50px;
  padding-left: 90px;
  margin: 0px;

  font-family: PTSans-Regular, AdobeInvisFont, MyriadPro-Regular;
  font-size: 43px;
  color: rgba(245, 197, 6, 255);
  text-align: center;
  text-transform: uppercase;
}

.services__image {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-left: 15px;
  position: relative;
  bottom: 115px;
}

.services__image-stamp {
  position: relative;
  right: 5px;
  bottom: 40px;
  width: 116px;
  height: 116px;
  z-index: 2;

  background: #f5c506;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.image-stamp__text {
  margin: 0px 0px 0px 5px;
  padding-top: 40%;

  font-family: PTSans-NarrowBold, AdobeInvisFont, MyriadPro-Regular;
  font-size: 16px;
  color: rgba(255, 255, 255, 255);
  text-transform: uppercase;
}

.services__image-device {
  width: 540px;
  height: 255px;
}

.services__list {
  margin-top: 45px;
  padding-left: 80px;;

  font-family: OpenSans, AdobeInvisFont, MyriadPro-Regular;
  font-size: 22px;
  color: rgba(169, 169, 167, 255);
  text-align: left;
  list-style-type: none;
  list-style-image: url('assets/main/services/listmarker.png');
  line-height: 1.2;
}

.services__item {
  margin-bottom: 25px;
  margin-left: 25px;
  padding-left: 10px;
}

.footer {
  height: 64px;

  background: #4c4c4c;
  box-shadow: 0px 3px 4px 7px rgba(22, 22, 22, 0.74);
}

.footer__logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 51px;
}

.footer__logo-img {
  height: 51px;
  margin-right: 9px;
  margin-left: 2px;
  margin-top: 5px;
}

.footer__logo-title {
  margin-bottom: 5px;
  color: white;
  text-transform: uppercase;
}

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 768px) {
  .header .wrapper {
    align-items: center;
    justify-content: stretch;
  }
}

@media only screen and (max-width: 640px) {
  .header {
    padding: 0px;
  }

  .wrapper {
    width: 100%;
  }

  .header .wrapper {
    display: flex;
    justify-content: stretch;
    flex-wrap: nowrap;
  }

  .logo {
    width: 186px;
    justify-content: space-around;
    align-items: center;

    background: #5c5c5c;
  }

  .logo__title {
    margin: 0px;

    font-size: 16px;
  }

  .logo__img {
    width: 38px;
    height: 37px;
    padding-right: 0px;
  }

  .nav {
    display: flex;
    width: 455px;

    margin-top: 0px;
  }

  .nav__list {
    box-shadow: 0px 0px 0px 0px #a48d19, 0px 0px 0px 0px #806f24;
  }

  .list__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    list-style-type: none;
    border-right: rgba(155, 125, 8, 255) 1px solid;
  }

  .slider {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 0px;
  }

  .slider__container-video {
    width: 100%;
  }

  .slider__slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: Asap-Regular, AdobeInvisFont, MyriadPro-Regular;
    font-size: 63px;
    color: rgba(245, 197, 6, 255);
    text-align: center;
    text-transform: uppercase;
  }

  .slogan__text {
    display: none;
  }

  .slider__button-prev,
  .slider__button-next {
    display: none;
  }

  .slider__container-video {
    padding-left: 0px;
  }

  .container-video {
    width: 100%;
    height: 100%;
  }

  .benefit {
    box-shadow: none;
    background: #f2f2f2;
  }

  .benefit .wrapper * {
    font-size: 22px;
    border: 0px;
  }

  .scroll {
    padding-bottom: 0px;
  }

  .scroll__title {
    display: none;
  }

  .scroll__main {
    margin-top: 11px;
    margin-bottom: 0px;

    background: #ffffff;
    overflow: hidden;
  }

  .scroll__description {
    width: 100%;

    font-family: SegoeWP-Light, AdobeInvisFont, MyriadPro-Regular;
    font-size: 29px;
  }

  .description__text {
    margin: 0px;
    padding: 26px 22px 0px 21px;
  }

  .scroll__video {
    display: grid;
    grid-template-columns: 299px 315px;
    grid-gap: 9px;

    padding-left: 9px;
  }

  .scroll__twitter {
    margin-top: 9px;

    background: #f5c507;
  }

  .twitter__count,
  .scroll___button_plus {
    display: none;
  }

  .twitter__chat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 323px;
    padding-top: 15px;

    font-family: ArialMT, AdobeInvisFont, MyriadPro-Regular;
  }

  .chat__message {
    width: 80%;
    height: 42px;
    margin-bottom: 14px;

    font-size: 13px;
    color: rgba(143, 142, 142, 255);
    text-align: left;
    text-indent: 15px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
  }

  .chat__message:first-child {
    background: #ffffff;
  }

  .chat__message:nth-child(2n) {
    background: #fceeb5;
  }

  .chat__message:nth-child(3) {
    background: #fbe89c;
  }

  .chat__text {
    width: 80%;
  }

  .chat__submit {
    display: inline-block;
    width: 20%;

    background: #e7a623;

    color: #ffffff;
    font-size: 15px;

    border: 0px;
    border-top-right-radius: 5px;
  }

  .scroll__calendar {
    display: none;
  }
  .services__caption {
    padding-left: 21px;
    padding-top: 43px;
    padding-bottom: 83px;

    font-size: 32px;
  }

  .services__image {
    justify-content: center;
    margin-left: 0px;
  }

  .services__list {
    display: none;
  }

}
